:root {
--dark: rgb(51, 51, 51);
--pink: #ff0057;

}

* {
    margin:0;
    padding: 0;    
    box-sizing: border-box;
    font-family: 'Nunito';
}

body {
    min-height: 100vh ;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
}

.container {
    width: 1000px ;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card {
    position: relative;
}

.card__face {
    width: 300px ;
    height: 200px;
    transition: all .3s ease-in-out;
}

.card__face--face1 {
    position: relative;
    background: var(--dark) ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px) ;
}

.container .card:hover .card__face--face1 {
    transform: translateY(0);
    background-color: var(--pink);
}


.card__face--face1 .card__content {
    opacity: .2;
    transition: all .3s ease-in-out;
}

.container .card:hover .card__face--face1 .card__content {
    opacity: 1;
}

.card__face--face1 .card__content svg {
    max-width: 100px;
}

.card__face--face1 .card__content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
.container .card .card__face--face2 {
    position: relative;
    background: white;
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .8);
    transform: translateY(-100px)

}

.container .card:hover .card__face--face2 {
    transform: translateY(0)
}

.card__content p {
    line-height: 1.60;
}

.card__content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900 ;
    padding: 5px;
    border: 2px solid var(--pink);
    color: var(--dark)
}

.card__content a:hover {
    background-color: var(--pink);
    color: white;
}

svg{
    height: 6em;
    color: rgb(243, 243, 243);
}